.container {
    flex: 1;
    display: flex;
    padding: 72px 400px;
    flex-direction: column;
    background-color: #F3F3F3;
    gap: 72px;
    height: 100%;
}

/*.darkContainer .goBackButton*/
.goBackButton {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #313037;
}

.darkContainer {
    background: #313037;
    color: white;
}

.darkContainer .goBackButton {
    color: white;
}

.formContainer {
    border: 1px solid #8D8E97;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    align-self: center;
    max-width: 624px;
}