.container {
  padding: 18px 30px;
  background: #2231aa;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.letter {
  padding: 7px 18px;
  background: #5360cd;
  border-radius: 2px;
}
