.container {
    display: flex;
    gap: 32px;
}
.rightSide {
    display: flex;
    flex-direction: column;
    gap: 39px;
}
.leftSide {
    display: flex;
    flex-direction: column;
    gap: 39px;
}
.mediumContainer {
    display: flex;
    max-width: 736px;
    gap: 39px 32px;
    flex-wrap: wrap;
}