.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.button {
    margin-top: 48px;
    text-align: center;
}
.signUpRedirectContainer {
    margin-top: 24px;
    align-self: center;
}

.redirectButton {
    color: #2231AA;
    text-decoration: none;
}
.redirectButton:hover {
    text-decoration: underline;
}