.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}
.burgerButton {
  padding: 30px;
}
.activeTab {
  background-color: grey;
}